/* your code here */
/* your code here */

.media-icons{
	 display: flex;
    flex-direction: row;
    justify-content: right;
     gap: 20px;
}
img{
    border-radius: 50%;
	background-size: cover;
}
body{
    background-color: black;
    color: white;
}
.logo-details{
    font-size: 30px;
    margin-top: 20px;
}
.Links,.Services,.other_Service,.Contact{
    display: grid;
    width: 100%;
  
    padding:30px;
    
}
.Links>a, .Services>a,.other_Service>a,.Contact>a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    font-style: unset;
}
.name{
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}
.link-boxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bottom-details{
    display: flex;
    justify-content: space-between;
    background-color: rgb(116, 109, 109);
    padding: 15px;
}


